@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Fredoka+One&family=Hind+Madurai:wght@300;400&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Fraunces:opsz,wght@9..144,700;9..144,800&family=Fredoka+One&family=Hind+Madurai:wght@300;400&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 90%;
  margin: auto; }

.header .nav-bar {
  justify-content: space-between;
  display: flex;
  padding: 40px 0;
  align-items: center; }
  .header .nav-bar .nav-logo {
    width: 280px; }
    .header .nav-bar .nav-logo img {
      width: 100%; }
  .header .nav-bar .nav-item ul {
    display: flex; }
    .header .nav-bar .nav-item ul li {
      list-style-type: none; }
      .header .nav-bar .nav-item ul li a {
        text-decoration: none;
        margin-left: 35px;
        color: #83888f;
        font-family: "Barlow";
        font-weight: bold;
        font-size: 15px; }
      .header .nav-bar .nav-item ul li a:hover {
        color: black; }
      .header .nav-bar .nav-item ul li .active {
        color: black !important; }
  .header .nav-bar .label {
    display: none; }

.about {
  background-image: url(../img/bg-about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 450px; }
  .about .about-text {
    color: #ffffff;
    width: 50%;
    padding: 150px 100px; }
    .about .about-text h1 {
      padding-bottom: 20px;
      font-family: "Fraunces";
      font-size: 45px; }
    .about .about-text p {
      font-family: "Barlow";
      font-size: 17px;
      line-height: 26px; }

.commit {
  display: flex;
  margin-top: 150px;
  align-items: center;
  justify-content: space-around; }
  .commit .commit-img img {
    border-radius: 10px; }
  .commit .commit-text {
    width: 40%; }
    .commit .commit-text h1 {
      font-family: "Fraunces";
      font-size: 50px;
      color: #333d4bf3; }
    .commit .commit-text p {
      font-size: 18px;
      font-family: "Barlow";
      margin-top: 30px;
      line-height: 28px;
      color: #333d4bbd; }

.uncomp {
  position: relative;
  background-color: rgba(32, 39, 42, 0.96);
  margin-top: 250px;
  border-radius: 10px; }
  .uncomp .uncomp-text {
    padding: 110px 70px;
    color: #ffffff;
    width: 55%; }
    .uncomp .uncomp-text h1 {
      font-family: "Fraunces";
      font-size: 50px; }
    .uncomp .uncomp-text p {
      font-size: 16px;
      font-family: "Barlow";
      margin-top: 30px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.712); }
  .uncomp img {
    border-radius: 10px;
    position: absolute;
    right: 100px;
    top: -120px; }

.our-head {
  margin-top: 100px; }
  .our-head .our-text {
    width: 80%;
    margin: auto;
    color: #83888f; }
  .our-head .our-card {
    margin-top: 50px;
    display: flex;
    justify-content: space-around; }
    .our-head .our-card h1 {
      font-family: "Fraunces";
      font-size: 35px;
      margin: 15px 0; }
    .our-head .our-card p {
      color: #333d4b;
      font-family: "Barlow";
      font-size: 16px; }

.footer {
  margin-top: 150px;
  background-color: #2c343e;
  padding: 30px 0; }
  .footer .fot {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer .fot .fot-logo {
      width: 280px; }
      .footer .fot .fot-logo img {
        width: 100%; }
    .footer .fot .fot-item ul {
      display: flex; }
      .footer .fot .fot-item ul li {
        list-style: none; }
        .footer .fot .fot-item ul li a {
          text-decoration: none;
          margin: 0 20px;
          color: #83888f;
          font-family: "Barlow";
          font-weight: bold;
          font-size: 15px; }
        .footer .fot .fot-item ul li a:hover {
          color: #ffffff; }
        .footer .fot .fot-item ul li .active {
          color: white; }
    .footer .fot .fot-icon a {
      text-decoration: none;
      margin-left: 20px;
      align-items: center; }
      .footer .fot .fot-icon a img:hover {
        box-shadow: 0 0 35px black; }

/*Responsive*/
@media only screen and (max-width: 730px) {
  .nav-item {
    display: none; }

  .header .nav-bar .label {
    display: block; } }
@media only screen and (max-width: 350px) {
  .header .nav-bar .nav-logo {
    width: 200px; } }
@media only screen and (max-width: 900px) {
  .about .about-text {
    padding: 100px 50px; } }
@media only screen and (max-width: 670px) {
  .about .about-text {
    width: 100%; } }
@media only screen and (max-width: 340px) {
  .about .about-text {
    padding: 50px 50px; }
    .about .about-text p {
      line-height: 20px; } }
@media only screen and (max-width: 1160px) {
  .commit .commit-img img {
    width: 400px;
    height: 700px; } }
@media only screen and (max-width: 800px) {
  .commit {
    display: block; }
    .commit .commit-img img {
      width: 100%; }
    .commit .commit-text {
      width: 100%;
      text-align: center; } }
@media only screen and (max-width: 1200px) {
  .uncomp .uncomp-text {
    width: 100%;
    text-align: center; }
  .uncomp img {
    right: 0; } }
@media only screen and (max-width: 640px) {
  .uncomp .uncomp-text {
    width: 100%;
    text-align: center; }
    .uncomp .uncomp-text h1 {
      font-size: 20px; } }
@media only screen and (max-width: 820px) {
  .our-head .our-text {
    text-align: center; }
  .our-head .our-card {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center; }
    .our-head .our-card .card {
      margin-top: 40px; } }
@media only screen and (max-width: 880px) {
  .footer {
    text-align: center; }
    .footer .fot {
      display: block; }
      .footer .fot .fot-logo {
        width: 100%; }
        .footer .fot .fot-logo img {
          width: 50%; }
      .footer .fot .fot-item {
        margin: 40px 0; }
        .footer .fot .fot-item ul li {
          width: 40%; } }
@media only screen and (max-width: 800px) {
  .footer .fot .fot-item ul {
    display: block; }
    .footer .fot .fot-item ul li {
      width: 100%;
      margin: 10px 0; } }

/*# sourceMappingURL=main.css.map */
